:root {
    --cor1: #000000;
    --cor2: #14213d;
    --cor3: #fca311;
    --cor4: #e5e5e5;
    --cor5: #006494;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor1);
}

header {
    background-color: var(--cor2);
    text-align: initial;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    color: var(--cor3);
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: var(--cor2);
    color: var(--cor4);
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

a {
    color: var(--cor5);
}

/* Estilos específicos dos exercícios */
div {
    margin: 10px;
    text-align: center;
}


.exercise {
    background-color: var(--cor2);
    color: var(--cor4);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exercise > h2 {
    color: var(--cor3);
}

.exercise h2 {
    margin-top: 0;
}
